.me{
    font-size: 14px;
    margin: -2px;
    border-right: 3px solid #60DF88 !important;
    padding: 5px;
    background-color: rgb(239, 255, 241);
}

.you{
    font-size: 14px;
    margin: -2px;
    border-left: 3px solid rgb(255, 112, 0) !important;
    padding: 5px;
    padding-left:10px;
    background-color: rgb(247, 247, 214);
}
.panel-body{
    overflow: auto;
    background:url('http://subtlepatterns.com/patterns/geometry2.png'); height: 300px; 
}
